html, body {
	height: 100%;
}

img {
	z-index: -2;
}

.z {
	z-index: -2;
}
/* colors */
/* #2B3542 greyish midnight */
/* #305854 dark sea green */
/* #558A84 light sea green */
/* #F0CFC4 off white */
/* #D8726B salmon */
.head-bg {
	/* background-image: url('/images/chilean_river.jpg'); */
	background: radial-gradient(rgb(197, 194, 180), rgb(209, 194, 171));
	height: fit-content;
	background-size: 100%;
	display: block;
	padding: auto;
	/* Safari 6.0 - 9.0 */
	/* -webkit-filter: grayscale(40%);  */
	/* filter: grayscale(40%); */
}

.blur {
	-webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(30%);
}

.navHead {
	height: 80px;
	/* font-family: 'Pacifico', cursive; */
	/* margin-bottom: 10%; */
	background-color: #be3e45;
}

a {
	color: white;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
    padding: 2%;
    text-align: center;
}

.marg {
	margin: 7%;
}

.padd {
	padding-top: 3%;
}

.off-white {
	background-color: #F0CFC4;
}
.story {
	background-color: #be3e45;
}
.light-sea-green {
	background-color: #558A84;
}

.marg-bottom {
	padding-bottom: 5%;
}

.nav-item {
	margin-left:70px;
	margin-right:70px;
	margin-top: 10px;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

#circle-logo {
	width: 42%;
	display: block;
	height: auto;
	margin: auto;

}